body{
	color: white;
	font-family: 'Darker Grotesque', sans-serif;
	font-family: 'Titillium Web', sans-serif;
	background-image: url(abstract-architectural-design-architecture-2271683.jpg
	);
	background-size: cover;

}